<footer class="site-footer">
  <div class="wrapper">
    <ul class="social-media-list">
      <li class="social-link">
        <a href="https://twitter.com/piotr_murach/" target="_blank" title="Follow Piotr Murach on Twitter" class='icon'><i class='fab fa-twitter'></i></a>
      </li>
      <li class="social-link">
        <a href="https://github.com/piotrmurach/" target="_blank" title="Follow Piotr Murach on GitHub" class='icon'><i class='fab fa-github-alt'></i></a>
      </li>
      <li class="social-link">
        <a href="https://piotrmurach.com" target="_blank" title="Read Piotr Murach personal site" class='icon'><i class='fas fa-link'></i></a>
      </li>
      <li class="social-link">
        <a href="https://uk.linkedin.com/pub/piotr-murach/24/96b/1a8" target="_blank" title="Connect with Piotr Murach on Linkedin" class='icon'><i class='fab fa-linkedin-in'></i></a>
      </li>
      <li class="social-link">
        <a href='https://stackoverflow.com/users/330813/piotr-murach' target="_blank" title="Read Piotr Murach profile on StackOverflow" class="fab fa-stack-overflow"></a>
      </li>
      <li class="social-link">
        <a href="https://www.patreon.com/piotrmurach" target="_blank" title="Become a patron" class='icon'><i class='fab fa-patreon'></i></a>
      </li>
    </ul>

    <p class='copy'>
      &copy; <span>2015</span> Crafted with <i class='fas fa-heart'></i> by Piotr Murach. Logo by <a href="https://twitter.com/gavjessop" target="_blank">Gavin Jessop</a>
    </p>
  </div>
</footer>
