<footer class="site-footer">
  <div class="wrapper">
    <ul class="social-media-list">
      <li>
        <a href="http://twitter.com/piotr_murach/" target="_blank" title="Follow Piotr Murach on Twitter" class='icon'><i class='fab fa-twitter'></i></a>
      </li>
      <li>
        <a href="http://github.com/piotrmurach/" target="_blank" title="Follow Piotr Murach on GitHub" class='icon'><i class='fab fa-github-alt'></i></a>
      </li>
      <li>
        <a href="https://uk.linkedin.com/pub/piotr-murach/24/96b/1a8" target="_blank" title="Connect with Piotr Murach on Linkedin" class='icon'><i class='fab fa-linkedin-in'></i></a>
      </li>
      <li>
        <a href="https://www.patreon.com/piotrmurach" target="_blank" title="Become a patron" class='icon'><i class='fab fa-patreon'></i></a>
      </li>
    </ul>

    <p class='copy'>Crafted with <i class='fas fa-heart'></i> by Piotr Murach. Logo by <a href="https://twitter.com/gavjessop" target="_blank">Gavin Jessop</a></p>
    <p>Copyright &copy; 2015-2019</p>
  </div>
</footer>
