// variables

$base-font-family: 'Source Sans Pro', sans-serif;
$title-font-family: 'Ubuntu', sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     1rem;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

@import
  "normalize",
  "media-queries",
  "font-awesome-sprockets",
  "font-awesome",
  "bourbon",
  "base",
  "syntax-highlighting"
;
